<div class="container more-container">
  <h3>{{ site.more_title | default: "A Little More About Me" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.more_content | strip | markdownify }}
      <div class="skillsContainer">
        <div class="contentContainer">
          <center>
            <h4>Programming Languages</h4>
          </center>
          <div class="progressBar">
            <h4>Python</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-90"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>NodeJS</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-80"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>HCL</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-30"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>Ruby</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-70"></div>
            </div>
          </div>
        </div>
        <div class="contentContainer">
          <center>
            <h4>Technologies</h4>
          </center>
          <div class="progressBar">
            <h4>AWS</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-90"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>Terraform</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-80"></div>
            </div>
          </div>
          <div class="progressBar">
            <h4>Chef</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-30"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>