<div class="container more-container">
  <h3>{{ site.more_title | default: "A Little More About Me" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.more_content | strip | markdownify }}
      <div class="skillsContainer">
        {% for type in site.data.skills %}
        <div class="contentContainer">
          <center>
            <h4>{{ type.name }}</h4>
          </center>
          {% for skills in type.skills %}
          <div class="progressBar">
            <h4>{{ skills.name }}</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-{{ skills.percent }}"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>